<?xml version="1.0" encoding="utf-8"?>
<config>
    <system>

        <unicode>UTF-8</unicode>
        <app_sign>liveshow</app_sign>

        <!--正式服务器-->
        <!--<server>http://zb.demo.qi-cloud.com/</server>-->
        <!--库赞服务器-->
        <!--<server>http://10.10.100.169:8082/</server>-->
        <!--<server>http://116.211.167.106/</server>-->
        <!--测试服务器-->
        <!--<server>http://10.10.21.108:8081/</server>-->
        <!--德雷克服务器-->
        <server>http://10.10.100.181:8082/</server>
        <!--熊猫服务器-->
        <!--<server>http://10.10.100.195:8082/</server>-->

    </system>
</config>
