<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qcloud.liveshow">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- 分享需要添加的权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <!-- 直播需要的权限 -->
    <!-- 在sdcard中创建/删除文件的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 使用权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_SINTERNETWIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!-- 硬件特性 -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.qcloud.qclib.image.OkHttpGlideModule"
            android:value="GlideModule" />
        <meta-data
            android:name="targer_screen_width"
            android:value="720" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="59afac875312dd8e8b0006c3" />

        <!-- <service -->
        <!-- android:name=".service.NettyRemoteService" -->
        <!-- android:enabled="true"> -->
        <!-- <intent-filter android:priority="1000"> -->
        <!-- <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->

        <activity
            android:name=".ui.main.widget.LaunchActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".TestActivity">

        </activity>
        <activity
            android:name=".ui.main.widget.MainActivity"
            android:label="@string/title_main"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.main.widget.WebActivity"
            android:label="@string/title_web"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.account.widget.LoginActivity"
            android:label="@string/title_login"
            android:launchMode="singleTask" />

        <!-- 直播间有关 -->
        <activity
            android:name=".ui.room.widget.RoomActivity"
            android:label="@string/title_room"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.room.widget.RoomFinishActivity"
            android:label="@string/title_room_finish"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" />

        <!-- 直播有关 -->
        <activity
            android:name=".ui.anchor.widget.ApplyAnchorActivity"
            android:label="@string/title_apply_anchor"
            android:launchMode="singleTask"
            android:theme="@style/AppSwipeBackTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.anchor.widget.AnchorActivity"
            android:label="@string/title_room"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.anchor.widget.AnchorFinishActivity"
            android:label="@string/title_anchor_finish"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" />

        <!-- 主播有关 -->
        <activity
            android:name=".ui.home.widget.SearchAnchorActivity"
            android:label="@string/title_search_anchor"
            android:launchMode="singleTask"
            android:theme="@style/AppSwipeBackTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.home.widget.MessageListActivity"
            android:label="@string/title_message_list"
            android:launchMode="singleTask"
            android:theme="@style/AppSwipeBackTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.home.widget.SystemMessageActivity"
            android:label="@string/title_system_message"
            android:launchMode="singleTask"
            android:theme="@style/AppSwipeBackTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.home.widget.FansMessageActivity"
            android:label="@string/title_fans_message"
            android:launchMode="singleTask"
            android:theme="@style/AppSwipeBackTheme"
            android:windowSoftInputMode="adjustPan" />

        <!-- 个人有关 -->
        <activity
            android:name=".ui.mine.widget.UserInfoActivity"
            android:label="@string/title_user_info"
            android:launchMode="singleTask"
            android:theme="@style/AppSwipeBackTheme" />
        <activity
            android:name=".ui.mine.widget.FansInfoActivity"
            android:label="@string/title_user_info"
            android:launchMode="singleTask"
            android:theme="@style/AppSwipeBackTheme" />
        <activity
            android:name=".ui.mine.widget.EditUserActivity"
            android:label="@string/title_edit_user"
            android:launchMode="singleTask"
            android:theme="@style/AppSwipeBackTheme" />
        <activity
            android:name=".ui.mine.widget.MyFansActivity"
            android:label="@string/title_my_follow"
            android:launchMode="singleTask"
            android:theme="@style/AppSwipeBackTheme" />
        <activity
            android:name=".ui.mine.widget.SettingActivity"
            android:label="@string/title_setting"
            android:launchMode="singleTask"
            android:theme="@style/AppSwipeBackTheme" />
        <activity
            android:name=".ui.mine.widget.MyGiftsActivity"
            android:label="@string/title_my_gifts"
            android:launchMode="singleTask"
            android:theme="@style/AppSwipeBackTheme" />
        <activity
            android:name=".ui.mine.widget.MyLevelActivity"
            android:label="@string/title_my_level"
            android:launchMode="singleTask"
            android:theme="@style/AppSwipeBackTheme" />
        <activity
            android:name=".ui.mine.widget.ProblemActivity"
            android:label="@string/title_problem"
            android:launchMode="singleTask"
            android:theme="@style/AppSwipeBackTheme" />
        <activity
            android:name=".ui.mine.widget.ExtensionActivity"
            android:label="@string/title_extension"
            android:launchMode="singleTask"
            android:theme="@style/AppSwipeBackTheme" />

        <!-- 与钱有关 -->
        <activity
            android:name=".ui.profit.widget.MyProfitActivity"
            android:label="@string/title_my_profit"
            android:launchMode="singleTask"
            android:theme="@style/AppSwipeBackTheme" />
        <activity
            android:name=".ui.profit.widget.ProfitRecordActivity"
            android:label="@string/title_profit_record"
            android:launchMode="singleTask"
            android:theme="@style/AppSwipeBackTheme" />
        <activity
            android:name=".ui.profit.widget.SetCashPasswordActivity"
            android:label="@string/title_set_cash_password"
            android:launchMode="singleTask"
            android:theme="@style/AppSwipeBackTheme" />
        <activity
            android:name=".ui.profit.widget.ResetCashPasswordActivity"
            android:label="@string/title_reset_cash_password"
            android:launchMode="singleTask"
            android:theme="@style/AppSwipeBackTheme" />
        <activity
            android:name=".ui.profit.widget.WithdrawCashActivity"
            android:label="@string/title_withdraw_cash"
            android:launchMode="singleTask"
            android:theme="@style/AppSwipeBackTheme" />
        <activity
            android:name=".ui.profit.widget.MyDiamondsActivity"
            android:label="@string/title_my_diamonds"
            android:launchMode="singleTask"
            android:theme="@style/AppSwipeBackTheme" />
        <activity
            android:name=".ui.mine.widget.PrombleDetailActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppSwipeBackTheme" />
        <activity
            android:name=".ui.profit.widget.DiamondsRecordActivity"
            android:label="@string/title_diamonds_record"
            android:launchMode="singleTask"
            android:theme="@style/AppSwipeBackTheme" />

        <!-- 选择图片 -->
        <activity
            android:name="com.qcloud.qclib.imageselect.ImageSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qcloud.qclib.imageselect.ProcessImageActivity"
            android:screenOrientation="portrait" />

        <!-- 微信回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- facebook -->
        <activity
            android:name="com.umeng.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="com.umeng.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider176951416183947"
            android:exported="true" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />


    </application>

</manifest>