<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.qcloud.liveshow">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!-- 分享需要添加的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.qcloud.qclib.image.OkHttpGlideModule"
            android:value="GlideModule"/>
        <meta-data
            android:name="targer_screen_width"
            android:value="720"/>
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="59afac875312dd8e8b0006c3" >
        </meta-data>

        <activity
            android:name=".ui.account.widget.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.main.widget.MainActivity"
                  android:launchMode="singleTask"
                  android:label="@string/title_main"/>
        <activity android:name=".ui.main.widget.WebActivity"
                  android:launchMode="singleTask"
                  android:label="@string/title_web"/>

        <!--直播间有关-->
        <activity android:name=".ui.room.widget.RoomActivity"
                  android:launchMode="singleTask"
                  android:windowSoftInputMode="adjustPan"
                  android:label="@string/title_room"/>
        <activity android:name=".ui.room.widget.RoomFinishActivity"
                  android:launchMode="singleTask"
                  android:windowSoftInputMode="adjustPan"
                  android:label="@string/title_room_finish"/>

        <!--直播有关-->
        <activity android:name=".ui.anchor.widget.ApplyAnchorActivity"
                  android:theme="@style/AppSwipeBackTheme"
                  android:launchMode="singleTask"
                  android:windowSoftInputMode="adjustPan"
                  android:label="@string/title_apply_anchor"/>
        <activity android:name=".ui.anchor.widget.AnchorActivity"
                  android:launchMode="singleTask"
                  android:windowSoftInputMode="adjustPan"
                  android:label="@string/title_room"/>
        <activity android:name=".ui.anchor.widget.AnchorFinishActivity"
                  android:launchMode="singleTask"
                  android:windowSoftInputMode="adjustPan"
                  android:label="@string/title_anchor_finish"/>

        <!--主播有关-->
        <activity android:name=".ui.home.widget.SearchAnchorActivity"
                  android:theme="@style/AppSwipeBackTheme"
                  android:launchMode="singleTask"
                  android:windowSoftInputMode="adjustPan"
                  android:label="@string/title_search_anchor"/>
        <activity android:name=".ui.home.widget.MessageListActivity"
                  android:theme="@style/AppSwipeBackTheme"
                  android:launchMode="singleTask"
                  android:windowSoftInputMode="adjustPan"
                  android:label="@string/title_message_list"/>
        <activity android:name=".ui.home.widget.SystemMessageActivity"
                  android:theme="@style/AppSwipeBackTheme"
                  android:launchMode="singleTask"
                  android:windowSoftInputMode="adjustPan"
                  android:label="@string/title_system_message"/>
        <activity android:name=".ui.home.widget.FansMessageActivity"
                  android:theme="@style/AppSwipeBackTheme"
                  android:launchMode="singleTask"
                  android:windowSoftInputMode="adjustPan"
                  android:label="@string/title_fans_message"/>

        <!--个人有关-->
        <activity android:name=".ui.mine.widget.UserInfoActivity"
                  android:theme="@style/AppSwipeBackTheme"
                  android:launchMode="singleTask"
                  android:label="@string/title_user_info"/>
        <activity android:name=".ui.mine.widget.EditUserActivity"
                  android:theme="@style/AppSwipeBackTheme"
                  android:launchMode="singleTask"
                  android:label="@string/title_edit_user"/>
        <activity android:name=".ui.mine.widget.MyFansActivity"
                  android:theme="@style/AppSwipeBackTheme"
                  android:launchMode="singleTask"
                  android:label="@string/title_my_follow"/>
        <activity android:name=".ui.mine.widget.SettingActivity"
                  android:theme="@style/AppSwipeBackTheme"
                  android:launchMode="singleTask"
                  android:label="@string/title_setting"/>
        <activity android:name=".ui.mine.widget.MyGiftsActivity"
                  android:theme="@style/AppSwipeBackTheme"
                  android:launchMode="singleTask"
                  android:label="@string/title_my_gifts"/>
        <activity android:name=".ui.mine.widget.MyLevelActivity"
                  android:theme="@style/AppSwipeBackTheme"
                  android:launchMode="singleTask"
                  android:label="@string/title_my_level"/>
        <activity android:name=".ui.mine.widget.ProblemActivity"
                  android:theme="@style/AppSwipeBackTheme"
                  android:launchMode="singleTask"
                  android:label="@string/title_problem"/>

        <!--与钱有关-->
        <activity android:name=".ui.profit.widget.MyProfitActivity"
                  android:theme="@style/AppSwipeBackTheme"
                  android:launchMode="singleTask"
                  android:label="@string/title_my_profit"/>
        <activity android:name=".ui.profit.widget.ProfitRecordActivity"
                  android:theme="@style/AppSwipeBackTheme"
                  android:launchMode="singleTask"
                  android:label="@string/title_profit_record"/>
        <activity android:name=".ui.profit.widget.SetCashPasswordActivity"
                  android:theme="@style/AppSwipeBackTheme"
                  android:launchMode="singleTask"
                  android:label="@string/title_set_cash_password"/>
        <activity android:name=".ui.profit.widget.ResetCashPasswordActivity"
                  android:theme="@style/AppSwipeBackTheme"
                  android:launchMode="singleTask"
                  android:label="@string/title_reset_cash_password"/>
        <activity android:name=".ui.profit.widget.WithdrawCashActivity"
                  android:theme="@style/AppSwipeBackTheme"
                  android:launchMode="singleTask"
                  android:label="@string/title_withdraw_cash"/>
        <activity android:name=".ui.profit.widget.MyDiamondsActivity"
                  android:theme="@style/AppSwipeBackTheme"
                  android:launchMode="singleTask"
                  android:label="@string/title_my_diamonds"/>
        <activity android:name=".ui.profit.widget.DiamondsRecordActivity"
                  android:theme="@style/AppSwipeBackTheme"
                  android:launchMode="singleTask"
                  android:label="@string/title_diamonds_record"/>

        <!-- 选择图片 -->
        <activity android:name="com.qcloud.qclib.imageselect.ImageSelectActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name="com.qcloud.qclib.imageselect.ProcessImageActivity"
                  android:screenOrientation="portrait"/>

        <!-- 微信回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <!-- facebook -->
        <activity
            android:name="com.umeng.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <provider
            android:name="com.umeng.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider176951416183947"
            android:exported="true"/>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
    </application>

</manifest>