<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.qcloud.liveshow">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.qcloud.qclib.image.OkHttpGlideModule"
            android:value="GlideModule"/>
        <meta-data
            android:name="targer_screen_width"
            android:value="720"/>

        <activity
            android:name=".ui.account.widget.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.main.widget.MainActivity"
                  android:launchMode="singleTask"
                  android:label="@string/title_main"/>
        <activity android:name=".ui.main.widget.WebActivity"
                  android:launchMode="singleTask"
                  android:label="@string/title_web"/>

        <!--播放器有关-->
        <activity android:name=".ui.player.widget.RoomActivity"
                  android:launchMode="singleTask"
                  android:windowSoftInputMode="adjustPan"
                  android:label="@string/title_room"/>

        <!--个人有关-->
        <activity android:name=".ui.mine.widget.UserInfoActivity"
                  android:theme="@style/AppSwipeBackTheme"
                  android:launchMode="singleTask"
                  android:label="@string/title_user_info"/>
        <activity android:name=".ui.mine.widget.EditUserActivity"
                  android:theme="@style/AppSwipeBackTheme"
                  android:launchMode="singleTask"
                  android:label="@string/title_edit_user"/>
        <activity android:name=".ui.mine.widget.MyFansActivity"
                  android:theme="@style/AppSwipeBackTheme"
                  android:launchMode="singleTask"
                  android:label="@string/title_my_follow"/>
        <activity android:name=".ui.mine.widget.SettingActivity"
                  android:theme="@style/AppSwipeBackTheme"
                  android:launchMode="singleTask"
                  android:label="@string/title_setting"/>

        <!--与钱有关-->
        <activity android:name=".ui.profit.widget.MyProfitActivity"
                  android:theme="@style/AppSwipeBackTheme"
                  android:launchMode="singleTask"
                  android:label="@string/title_my_profit"/>
        <activity android:name=".ui.profit.widget.ProfitRecordActivity"
                  android:theme="@style/AppSwipeBackTheme"
                  android:launchMode="singleTask"
                  android:label="@string/title_profit_record"/>
    </application>

</manifest>